{% extends "student_portals/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h2>Register as a Tutor or Student.</h2>
{% endblock page_header %}

{% block content %}

  <head>  
        <style>  
            #leftbox { 
                float:left;  
                background:red; 
                width:25%; 
                height:280px; 
            } 
             
            #rightbox{ 
                float:right; 
                background:green; 
                width:25%; 
                height:280px; 
            } 
            h1{ 
                color:green; 
                text-align:center; 
            } 
        </style>  
  </head>  

  <body>  
        <div id = "boxes"> 
            <h1>
              <a href="{% url 'account:student_register' %}"></a>
            </h1> 
              
            <div id = "leftbox"> 
                <h2>
                  <a href="{% url 'account:tutor_register' %}">TUTOR</a>
                </h2> 
                If you are a tutor register here. Make sure to have your tutor code!
            </div>  
              
            <div id = "rightbox"> 
                <h2>
                  <a href="{% url 'account:student_register' %}">STUDENT</a>
                </h2> 
                If you are a student register here. Make sure to have your student code!
            </div>  
             
        </div> 
  </body>  
  
{% endblock content %}