{% extends "student_portals/base.html" %}

{% block page_header %}
  <div class="jumbotron">
  	<h1 class="display-3">Track your learning</h1>

  	<p class="lead">Take your learning to the next level. Engage in meaningful
  		discussion with other students, submit your assignments in this portal and finally view and track your progress as you undertake your learning journey.</p>

  	<p>Are you new to the club? Register below.</p>

    <a class="btn btn-lg btn-primary" href="{% url 'account:register' %}"
    	role="button">Register &raquo;</a>
  </div>
{% endblock page_header %}