{% extends "student_portals/base.html" %}

{% block page_header %}
<div >
  <h1>Discussion Questions</h1>
</div>
{% endblock page_header %}

{% block content %}
  <div>
    <ul>
      {% for topic in topics %}
        <li><h4>
          <div class="card mb-3">
            <a href="{% url 'student_portals:topic' topic.id %}">{{ topic }}</a>
          </div>
        </h4></li>
      {% empty %}
        <li><h4>No topics have been added yet.</h4></li>
      {% endfor %}
    </ul>

    <h4><a href="{% url 'student_portals:new_topic' %}">Add a new topic</a></h4>
  </div>

{% endblock content %}